* {
    margin: 0;
    padding: 0;
}

body {
bacground:orange;
}


.container {
    width: 1140px;
    margin: 0 auto;
}

ul, li, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

#header {
    background: green;
    padding: 18px 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header button {
    padding: 10px 20px;
    background: red;
    border-radius: 14px;
    color: white;
    font-size: 17px;
}

.header-logo h1 {
    color: white;
}

.header-center {
    display: flex;
    align-items: center;
}

.header-center a {
    font-family: sans-serif;
    color: white;
    margin: 0 10px;
    font-size: 18px;
}
